/*CSS reset settings here*/
*{
	font-family: Arial, sans-serif;
 	/*margin: 0px;*/
 	/*padding: 0px;*/
}
body {
	width: 800px;
	background-color: white;
	display: inline;
}
.location {
	width: 200px;
	display: inline-block;
}
p {
 display: block;
 margin: 10px;
 width: 400px;
 background-color: white;
 /* display: block; */
 /*margin: 0px auto;*/
}








