<html>

<head>
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="utf-8">
</head>

<body>
    <!--
   
    -->
    <h2> Success! Welcome {{ firstname }}! </h2>
    
    <p> You have successfully registered or logged in!</p>
    <!--
    <form action='/goback' method='POST'>
        <div class="result">
            {% csrf_token %}

            <p> <label>Your Name: </label> {{ name }} </p>
            <p> <label>Dojo Location: </label> {{ location }} </p>
            <p> <label>Favorite Language: </label> {{ fave_language }} </p>
            <p> <label>Comment: {{ comment }} </p>

            <p> <input id="submit" type="submit" value="Go Back" name="submit"> </p>
        </div>
    </form>
     -->

    
</body>

</html>